debug {
  options {
    verifier {
      allow {
        undefined-class
        undefined-field
        undefined-type
        undefined-string
        method-access-violation
        field-access-violation
        undefined-method
        error-in-exception-handler
        permanent-runtime-exception
        wrong-subclassing-in-method-args
      }
    }
  }
  allowlist {
    verifier {
      method {
        java.lang.Character::valueOf
      }
    }
  }
}
