debug {
  options {
    verifier {
      show {
        typesystem
      }
      allow {
        undefined-method
        field-access-violation
        error-in-exception-handler
        permanent-runtime-exception
      }
    }
  }
  method_options {
    verifier {
      default {
        error {
          FIRST-LAST
        }
        check {
          cflow, resolve-id, typing, absint
        }
      }
    }
  }
  allowlist {
    verifier {
      method {
        java.lang.Character::valueOf
        java.lang.ref.ReferenceQueue::add
        java.lang.Class::getTypeName
        java.lang.ThreadGroup::remove
        java.lang.ThreadGroup::enumerate
      }
    }
  }
}
